@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    margin-left: 14px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
}

.nav_link {
    padding: 0 10px;
    font-weight: 600;
}

.nav_link:hover {
    color: #6415ff;
    cursor: pointer;
    text-decoration: underline;
}

.button {
    padding: 7px 21px;
    margin-left: 7px;
    margin-right: 28px;    
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.button:hover {
    background-color: #4b0fcc;
    outline-style: outset;
    outline-color: #292929;
    outline-width: 1px;
    cursor: pointer;
}

.button2:hover {
    background-color: #4b0fcc;
    outline-style: outset;
    outline-color: #292929;
    outline-width: 1px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4b0fcc;
    outline-style: outset;
    outline-color: #292929;
    outline-width: 1px;
    cursor: pointer;
}

.btn2:hover {
    background-color: #9a41ff;
    outline-style: outset;
    outline-color: #292929;
    outline-width: 1px;
    cursor: pointer;
}

.btn_menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 700ms ease;
    color: #6415ff;
    font-size: 14px;
}



.btn_menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.menu_backdrop {
position: fixed;
top: 0;
left: 7;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.6);
z-index: 999;
visibility: hidden;
opacity: 0;
transition: all 700ms ease;
}

.menu--open .menu_backdrop {
visibility: visible;
opacity: 1;
width: 100%;
max-width: 217px;
height: 35%;
padding-top: 28px;
padding-left: 63px;

}

.menu--open .modal {
  visibility: hidden;
  opacity: 1;
}

.modal_links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 2.5;
    margin: 8px 0;
    padding-bottom: 14px;
    border-bottom: 2px solid transparent;
}

.modal_link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
    margin-top: 14px;
}

.btn_menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

    .menu_list {
        margin-top: 19px;
        margin-bottom: 14px;
        color: white;
    }

    .button_menu {
    padding: 7px 21px;
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 14px;
    }

.button_menu:hover {
    background-color: #9a41ff;
    cursor: pointer;
}

.menu_link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    width: 100%;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    margin-left: 203px;
}

.h1 {
    margin-bottom: 28px;
    font-size: 49px;
}

.h5 {
    margin-top: 7px;
    margin-bottom: 14px;
    margin-left: 7px;
}

.header_para {
    margin-bottom: 28px;
    font-size: 19px;
}


.button2 {
    padding: 14px 28px;
    background-color: #6415ff;
    color: white;
    border-radius: 21px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin-left: -2px;
}

.ebox {
    margin-top: 7px;
    margin-bottom: 70px;
    padding: 21px 238px;
    padding-left: 28px;
    border-radius: 28px;
    border-color: rgb(231, 231, 231);
    font-weight: 400;
    margin-right: -156px;
    border-style: solid; 
}


.brands_img {
    max-width: 420px;
    margin-left: 7px;
}

.desktop_img {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 525px;
    margin-top: -77px;
    padding: 42px 1px;
}

/* 

FEATURES ↓

*/

#features {
    position: relative;
    margin-top: 490px;
}

#features .row {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.features_para {
    font-size: 19px;
    font-weight: 500px;
    max-width: 567px;
    text-align: center;
    color: gray;
    line-height: 04vh;
}

.features_para2 {
    font-size: 17px;
    font-weight: 500px;
    max-width: 238px;
    text-align: left;
    color: gray;
    line-height: 04vh;
    margin-top: 14px;
    padding-left: 21px;
    display: flex;
    flex-direction: row;
    margin-bottom: -70px;
    color: #c7c7c7;
}

.features_para22 {
    font-size: 17px;
    font-weight: 500px;
    max-width: 238px;
    text-align: left;
    color: gray;
    line-height: 04vh;
    margin-top: 14px;
    padding-left: 21px;
    display: flex;
    flex-direction: row;
    margin-top: -21px;
        color: #c7c7c7;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3); 
    justify-content: space-between;   
}

.wrapper {
    height: 210px;
    width: 385px;
    position: absolute;
}



#services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 133px;
    margin-top: 84px;
}

.icon1 {
    size: 42px;
    margin-left: 13px;
    margin-right: 7px;    
    margin-top: 16px;
}

.icon1_mask {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    outline: gray;
    box-shadow: 0 3px 4px rgba(126, 126, 126, 0.777);
    position: absolute;
    margin-left: -21px;
    margin-top: -14px;
}

.icon2 {
    size: 42px;
    margin-left: 13px;
    margin-right: 7px;    
    margin-top: 16px;
}

.icon2_mask {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    outline: gray;
    box-shadow: 0 3px 4px rgba(126, 126, 126, 0.777);
    position: absolute;
    margin-left: -21px;
    margin-top: 42px;
}


.h1_2 {
    margin-bottom: 21px;
    font-size: 49px;
    font-weight: 900;
}

.h2 {
    text-align: left;
    margin-left: 21px;
    margin-right: -42px;
    width: 238px;
}

.h2a {
    text-align: left;
    margin-left: 21px;
    margin-right: -42px;
    margin-bottom: -77px;
    width: 238px;
}


.h4 {
    color: #6415ff;
}


/* 
QUALITY WORK ↓
*/

#quality {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    height: 602px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    margin-left: -14px;
}

#quality .container4 {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
}

#quality .row {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#quality .wrapper {
    width: 595px;
    margin-top: -7px;
}

.h4_4 {
    display: flex;

}

.h1_3 {
    font-size: 49px;
    font-weight: 800;
    width: 490px;
}

.quality_para {
    font-size: 19px;
    width: 497px;
}

.btn {
    padding: 9px 28px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #6415ff;
    border-radius: 28px;
    display: flex;
    align-items: start;
}

.btn:hover {
    background-color: #8a24ff;
    outline-style: inherit;
    outline-width: 1px;
    cursor: pointer;
}


.hero_img1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 100%;
    margin-left: 35px;
}


/* 

STEPS ↓

*/

#steps {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

#steps .container5 {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto; 
}


#steps .row {
    display: flex;
}

.h1_5 {
    width: 1155px;
    font-size: 49px;
    font-weight: 800;
    display: flex;
    justify-content: end;
    align-items: end;
}

.h4_5 {
    width: 1246px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 7px;
}

.hero_img2 {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 42px;
    margin-left: -385px;
    width: 154%;   
}

.one23 {
    width: 294px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    position: relative;
    margin-top: 35px;
    margin-left: 665px;
}

.O1 {
    font-size: 35px;
    font-weight: 600;
    color: lightgray;
}

.reg {
    font-size: 21px;
    font-weight: 600;
    margin-top: -38px;
    margin-bottom: -7px;
    margin-left: 70px;
}

.steps_para {
    margin-top: px;
    margin-left: 70px;
    width: 294px;
    color: gray;
}

.O2 {
    margin-top: 7px;
    font-size: 35px;
    font-weight: 600;
    color: lightgray;
}

.download {
    font-size: 21px;
    font-weight: 600;
    margin-top: -38px;
    margin-bottom: 14px;
    margin-left: 70px;
}

.O3 {
    margin-top: 7px;
    font-size: 35px;
    font-weight: 600;
    color: lightgray;
}

.run {
    font-size: 21px;
    font-weight: 600;
    margin-top: -38px;
    margin-bottom: 14px;    
    margin-left: 70px;
}


/* 
VALUES ↓
*/

#values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: left;
    margin-left: -637px;
}

#values .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.h1_6 {
    font-size: 49px;
    font-weight: 800;
    width: 497px;
}


.values_para {
    width: 630px;
    font-size: 18px;
    font-weight: 500;
    width: 560px;
    color: gray;

}

.btn2 {
    padding: 9px 28px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #6415ff;
    border-radius: 28px;
    display: flex;
    align-items: start;
}

.btn2:hover {
    background-color: #8a24ff;
    outline-style: inherit;

    outline-width: 1px;
    cursor: pointer;
}

.proto_img {
    margin-top: 14px;
    margin-left: 420px;
    width: 595px;
}

.h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 14px;
    margin-top: 7px;

}

.h3_img {
    width: 35px;
    height: 35px;
    position: relative;
}

.h3A {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 14px;
    margin-top: 7px;

}

.h3A_img {
    width: 35px;
    height: 35px;
    margin-left: 56px;
    position: relative;
}

.values_para2 {
    width: 224px;
    max-width: calc(100%/2);
    line-height: 03vh;
    color: gray;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-left: -140px;
}

.values_para2A {
    width: 224px;
    max-width: calc(100%/2);
    line-height: 03vh;
    color: gray;
    margin-top: 49px;
    margin-bottom:49px;
    margin-left: -189px;
}

.wrapper2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}


/*

PRICING ↓

*/

#pricing .row {
    width: 100%;
    max-width: 1246;
    margin: 0 auto;
    text-align: center;
}

.pricing_para {
    font-size: 28px;
    margin-left: 189px;
    width: 840px;
    color: gray;
}


.h1_7 {
    font-size: 49px;
    font-weight: 800;
    width: 100%;
}

.price {
    font-size: 49px;
}

.mon {
    color: lightgray;
}

.h4 {
    color: lightgray;
    font-weight: 600;
}

.btn3 {
    padding: 9px 49px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: #6415ff;
    border-radius: 28px;
}

.plan_img1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
}

.plan_img1:hover {
    cursor: pointer;
}

/* 

TESTIMONIALS ↓

*/


#testimonials {
    margin-left: 749px;

}

#testimonials .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 777px;
}

.test_img {
    width: 100%;
    max-width: 560px;
    margin-left: -623px;
    margin-top: -350px;
    margin-bottom: 28px;
    position: relative;

}

.h1_8 {
    font-size: 49px;
    font-weight: 800;
    width: 100%;
}

.test_para {
    font-size: 19px;
    color: gray;
    width: 574px;
    margin-top: 14px;
    margin-bottom: 28px;
    line-height: 04vh;
}

.test_para2 {
    max-width: 560px;
    font-size: 16px;
    color: gray;
    margin-top: -105px;
    margin-bottom: 28px;
    line-height: 03vh;
}

.test__ratings {
    color: #dda900;
    font-size: 15px;
    margin-top: 21px;
}


.h3_A {
    margin-top: 7px;
    margin-bottom: 7px;
}

.h3_B {
    margin-top: -98px;
    margin-bottom: 0px;
    margin-left: 112px;
}

.h3_C {
    margin-top: px;
    margin-bottom: 0px;
    margin-left: 115px;
}

.test_img2 {
    width: 84%;
    max-width: 105px;
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    outline: auto;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.777);
    outline-color: rgba(56, 56, 56, 0.777);
    outline-width: 1px;
    margin-bottom: 14px;
}

.test_img3 {
    width: 50%;
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
    outline: auto;
    outline-color: rgba(210, 210, 210, 0.777);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.777);
    margin-right: 14px;
    margin-left: 420px;
    margin-bottom: 210px;
    margin-top: -56px;
}

.test_img3:hover,
.test_img4:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.test_img4 {
    width: 50%;
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
    outline: auto;
    outline-color: rgba(210, 210, 210, 0.777);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.777);
    margin-left: 1px;
    margin-bottom: 210px;
    margin-top: -56px;
}



/* 

START / CALL TO ACTION ↓

*/


#start .row {
    position: relative;
    overflow: hidden;
}

.contact_ad {
    width: 100%;
    max-width: 1148px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 49px;
    margin-bottom: 175px;
}   


.btn4 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 21px 35px;
    background-color: #ff6038d9;
    box-shadow: 0 7px 7px rgba(28, 28, 28, 0.777);
    color: white;
    border-radius: 35px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: -273px;
    margin-right: 420px;
    margin-bottom: 49px;
}

.btn5 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 21px 35px;
    background-color: #2cbb9acd;
    color: white;
    border-radius: 35px;
    box-shadow: 0 7px 7px rgba(28, 28, 28, 0.777);
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: -112px;
    margin-right: 238px;
    margin-bottom: 49px;
}

.btn4:hover {
    background-color: #ff6038;
    outline-style: outset;
    outline-color: #140300;
    outline-width: 1px;
    cursor: pointer;
}

.btn5:hover {
    background-color: #2cbb9a;
    outline-style: outset;
    outline-color: #00110e;
    outline-width: 1px;
    cursor: pointer;
}


/* 

FOOTER

*/

#footer {
    width: 100%;
    height: 420px;
}

.footer_bkg {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 70px;
    margin-left: -64px;
    background-image: image("url: assets/1/footer-bkg.jpg");
}

.footer__row {
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.footer__columns {
    margin-top: 42px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1029px;
    margin: 0 auto;
    margin-left: 140px;
}

.footer__column {
    width: 100%;
    max-width: 1029px;
    margin: 0 auto;
    margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: calc(100%/5);
    height: 210px;

}

.footer__column--title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14x;
    max-width: 1029px;
    width: 100%;
    color: white;
    position: relative;
}


.footer__column--link {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    font-weight: 400;
    max-width: 1029px;
    margin: 0 auto;
    color: rgb(254, 189, 196);
    position: relative;
    margin-bottom: 7px;    
    margin-top: -7px;
}

.footer__column--link:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;

}

.footer__logo--img {
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 126px;
    margin-bottom: -77px;
}

.footer__logo--text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 49px;
    margin-left: 42px;
    position: relative;
    color: white;
}

.footer__copyright {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    max-width: 1204px;
    margin-top: -21px;
    position: relative;
    color: white;
}

.footer__socials--img1 {
    position: relative;
    margin-top: -70px;
    margin-bottom: 7px;
    margin-right: 21px;
    margin-left: 1043px;
}

.footer__socials--img2 {
    position: relative;
    margin-top: -35px;
    margin-bottom: 7px;
    margin-right: 21px;
}

.footer__socials--img3 {
    position: relative;
    margin-top: -35px;
    margin-bottom: 7px;
    margin-right: 14px;
}

.footer__socials--img1:hover,
.footer__socials--img2:hover,
.footer__socials--img3:hover {
    filter: invert(14%) sepia(7%) saturate(777%) brightness(91%) contrast(126%);
    cursor: pointer;
    color: lightpink;
}



/* RESPONSIVE ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }

    .btn_menu {
        display: none;

    }
}

@media (max-width: 1024px) {

    .btn_menu {
        display: none;
    }

.button {
    padding: 7px 21px;
    margin-left: 7px;
    margin-right: 21px;    
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 14px;
}

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .h1 {
        font-size: 36px;
        text-align: start;
        margin-left: -364px;
        max-width: 350px;
    }

    .header_para {
        text-align: start;
        margin-left: -364px;
        max-width: 350px;
        font-size: 17px;
    }

    .button2 {
    padding: 14px 28px;
    background-color: #6415ff;
    color: white;
    border-radius: 21px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin-left: -3px;
    
}

.ebox {
    margin-top: 7px;
    margin-bottom: 70px;
    padding: 21px 126px;
    padding-left: 28px;
    border-radius: 28px;
    border-color: rgb(231, 231, 231);
    font-weight: 400;
    margin-left: -287px;
    border-style: solid; 
}

.h5 {
    text-align: start;
    margin-left: -364px;
    margin-top: -21px;
}


    .desktop_img {
        position: absolute;
        margin: 0 auto;
        margin-top: -28px;
        max-width: 94%;
        margin-left: 504px;
    }

    .brands_img {
        margin: 0 auto;
        margin-top: 7px;
        width: 77%;
        margin-left: -112px;
    }


    /*  FEATURES */
    #features {
        margin-top: 420px;
    }

    .icon1,
    .icon2 {
        margin-left: 13px;
        margin-top: 15px;
    }

.icon1_mask {
    width: 49px;
    height: 49px;
    margin-left: 0px;
    margin-top: -14px;
}

.icon2_mask {
    width: 49px;
    height: 49px;
    margin-left: -0px;
    margin-top: 42px;
}
    
    .h2,
    .h2a {
        margin-left: -7px;
    }

    .features_para {
        margin-bottom: -28px;

    }

    .features_para2,
    .features_para22 {
        margin-left: -28px;
        margin-right: -21px;
        font-size: 17px;
        max-width: 210px;
        line-height: 03vh;
        color: #c7c7c7;
    }

    
    /*  QUALITY WORK  */

.h4_4 {
    margin-left: 7px;
}

.h1_3 {
    font-size: 42px;
    width: 420px;
    margin-left: 7px;
}

.quality_para {
    font-size: 17px;
    width: 399px;
    margin-left: 7px;
}


.hero_img1 {
        margin-left: 126px;
        width: 100%;
        max-width: 490px;
    }

.btn {
    margin-left: 12px;
}

    /*  STEPS  */

.hero_img2 {
        margin-left: -259px;
        width: 124%;   
    }

    .h4_5 {
        margin-left: 21px;
    }

    .h1_5 {
        width: 100%;
        font-size: 39px;
        margin-left: 7px;
    }

    .one23 {
        margin-left: 497px;
    }


    /*  VALUES  */

.h4_6 {
        margin-left: 308px;
    }

.h1_6 {
        font-size: 40px;
        width: 420px;
        margin-left: 301px;
    }

    .values_para {
        font-size: 17px;
        width: 427px;
        margin-left: 301px;
    }

    .proto_img {
        margin-left: 343px;
        margin-top: -21px;
        width: 378px;
    }

    .h3 {
        margin-right: -190px;
        margin-left: -14px;
    }

    .h3_img {
        margin-left: 301px;
        margin-right: 28px;
    }

    .h3A_img {
        margin-left: 21px;
    }

    .values_para2 {
        margin-left: 42px;
    }


    /*  PRICING  */
    .pricing_para {
        font-size: 21px;
        max-width: 700px;
        margin-left: 84px;
    }


    /*  TESTIMONIALS  */

    .h4_8 {
        margin-left: -301px;
    }

    .h1_8 {
        font-size: 40px;
        width: 420px;
        margin-left: -301px;
    }

    .test_para {
        margin-left: -301px;
        max-width: 420px;

    }

    .test__ratings {
        margin-left: -301px;
    }

    .h3_A {
        margin-left: -301px;
        margin-bottom: -21px;
    }

    .test_para2 {
        margin-left: -301px;
        max-width: 420px;
        margin-bottom: 7px;
    }

    .test_img {
        margin-left: -728px;
        width: 399px;
        height: 252px;
        margin-top: -350px;
        margin-bottom: 140px;
    }

    .h3_B {
        margin-left: -210px;

    }

    .h3_C {
        margin-left: -210px;
    }

    .test_img2 {
        margin-left: -329px;
        margin-top: 28px;
    }

    .test_img3 {
        margin-left: -14px;
    } 

    .test_img4 {
        margin-left: 63px;
        margin-top: -263px;
        margin-bottom: 266px;
    }


    /*  START  */

.btn4 {
        margin-right: 63px;
        margin-top: -246px;
        margin-bottom: 112px;
        padding: 14px 28px;
    }

.btn5 {
        margin-right: 238px;
        margin-top: -161px;
        padding: 14px 28px;
    }



    /* FOOTER ↓ */

    footer {
        padding: 0px 70px;
        min-width: 1035px;
        margin-left: -70px;
        margin-top: 70px;
    }

    .footer__columns {
        max-width: 665px;
        margin-left: 189px;
        margin-top: 7px;
        height: 175px;
    }

    .footer__column--title {
        font-size: 14px;
        margin-top: -77px;
        margin-bottom: 84px;
        margin-left: -63px;
    }

    .footer__column--link {
        font-size: 12px;
        margin-top: -98px;
        margin-bottom: -49px;
        margin-left: -63px;
        height: 35px;

    }

    .footer__logo--text {
        margin-left: 56px; 
        margin-top: -357px; 
}

.footer__logo--img {
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 98px;
    margin-bottom: 49px;
    position: relative;
}

.footer__logo--text {
    font-size: 18px;
    font-weight: 700;
    margin-top: -77px;
    margin-left: 42px;
    position: relative;
    color: white;
}

.footer__copyright {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    max-width: 1204px;
    margin-top: -21px;
    position: relative;
    color: white;
    margin-left: 21px;
}

.footer__socials--img1 {
    position: relative;
    margin-top: -56px;
    margin-bottom: 7px;
    margin-right: 21px;
    margin-left: 685px;
}

.footer__socials--img2 {
    position: relative;
    margin-top: -77px;
    margin-bottom: 7px;
    margin-right: 21px;
}

.footer__socials--img3 {
    position: relative;
    margin-top: -77px;
    margin-bottom: 7px;
    margin-right: 14px;
}    

}    



@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    
    #pricing .row {
        margin-top: 40px;
    }


    /*  NAVIGATION  */

nav {
    display: flex;
    padding-top: 32px;

}

.nav__row {
    width: 100%;
    max-width: 840px;
}

.nav__logo {
    margin-right: 21px;
    margin-left: -7px;

}

.nav_link {
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    margin-right: -7px;
}

.nav_link:hover {
    color: #6415ff;
    cursor: pointer;
    text-decoration: underline;
}

.button {
    padding: 7px 14px;
    margin-left: 7px;
    margin-right: -7px;    
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 13px;
    font-weight: 700;
}









/*  HEADER  */

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .h1 {
        font-size: 33px;
        text-align: start;
        margin-left: -455px;
        max-width: 350px;
    }

    .header_para {
        text-align: start;
        margin-left: -511px;
        max-width: 280px;
        font-size: 17px;
        text-align: justify;
    }

    .button2 {
    padding: 14px 18px;
    background-color: #6415ff;
    color: white;
    border-radius: 21px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    margin-left: 35px;
}

.ebox {
    margin-top: 7px;
    margin-bottom: 70px;
    padding: 21px 112px;
    padding-left: 28px;
    border-radius: 28px;
    border-color: rgb(231, 231, 231);
    font-weight: 400;
    margin-left: -322px;
    border-style: solid; 
}

.h5 {
    text-align: start;
    margin-left: -42px;
    margin-right: 112px;
    margin-top: -21px;
}


    .desktop_img {
        position: absolute;
        margin: 0 auto;
        margin-top: -28px;
        max-width: 63%;
        margin-left: 182px;

    }

    .brands_img {
        margin: 0 auto;
        margin-top: 7px;
        width: 77%;
        margin-right: 154px;
        margin-left: -14px;
    }


    /*  FEATURES */
    #features {
        margin-top: 420px;
    }

    .container3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3); 
    justify-content: space-between;   
}

.h4 {
    margin-right: -7px;
}

.h1_2 {
    margin-right: 7px;
    font-size: 42px;
    }

    .icon1,
    .icon2 {
        margin-left: 9px;
        margin-bottom: 7px;
        margin-top: 10px;
    }

.icon1_mask {
    width: 42px;
    height: 42px;
    margin-left: 98px;
    margin-top: -56px;
}

.icon2_mask {
    width: 42px;
    height: 42px;
    margin-left: 98px;
    margin-top: 28px;
}
    
    .h2,
    .h2a {
        margin-left: -112px;
        margin-right: 7px;
        font-size: 20px;
        text-align: center;
    }

    .h2a {
        margin-top: 28px;
    }

    .features_para {
        margin-bottom: 21px;
        font-size: 21.77px;
        max-width: 525px;
    }

    .features_para2,
    .features_para22 {
        margin-left: -84px;
        margin-right: -21px;
        margin-bottom: -21px;
        font-size: 16.75px;
        max-width: 154px;
        line-height: 02.5vh;
        text-align: justify;
        color: #c7c7c7;
    }

    .features_para22 {
        margin-top: 14px;
    }

    
    /*  QUALITY WORK  */

.h4_4 {
    margin-left: 7px;
    position: absolute;
}

.h1_3 {
    font-size: 35px;
    width: 420px;
    margin-left: 7px;
    margin-top: 49px;
    position: absolute;
}

.quality_para {
    font-size: 16px;
    width: 300px;
    margin-left: 7px;
    margin-top: 147px;
    position: absolute;
    text-align: justify;

}


.hero_img1 {
        margin-left: 294px;
        margin-top: 105px;
        width: 77%;
        max-width: 322px;
    }

.btn {
    margin-left: 12px;
    margin-top: 266px;

}

    /*  STEPS  */

.hero_img2 {
        margin-left: -140px;
        margin-top: 126px;
        width: 91%;   
    }

    .h4_5 {
        margin-left: -322px;
        margin-right: 14px;
        margin-bottom: 14px;

    }

    .h1_5 {
        width: 100%;
        max-width: 427px;
        font-size: 39px;
        margin-left: 77px;
    }

    .one23 {
        margin-left: 343px;
        margin-top: 49px;
    }

    .steps_para {
        max-width: 210px;
    }


    /*  VALUES  */

.h4_6 {
        margin-left: 868px;
        margin-top: -175px;
        margin-bottom: 105px;
        position: relative;
    }

.h1_6 {
        font-size: 40px;
        width: 399px;
        margin-left: 735px;
        margin-top: -294px;
        margin-bottom: -7px;
        position: relative;
    }

    .values_para {
        font-size: 18px;
        width: 490px;
        margin-left: 665px;
        margin-top: -420px;
        margin-bottom: 7px;
        text-align: justify;
    }

    .proto_img {
        margin-left: -105px;
        margin-top: 385px;
        width: 434px;
    }

    .h3A {
        margin-right: -56px;
        margin-left: 14px;
        margin-top: 161px;
    }

    .h3 {
        margin-top: 161px;

    }

    .h3_img {
        margin-left: 616px;
        margin-right: 28px;
        margin-top: 154px;
    }

    .h3A_img {
        margin-left: 14px;
        margin-top: 154px;
    }

    .values_para2 {
        margin-left: 95px;
        margin-top: 196px;
        font-size: 15px;
    }



.values_para2A {
    width: 224px;
    max-width: calc(100%/2);
    line-height: 03vh;
    color: gray;
    margin-top: 196px;
    margin-bottom:49px;
    margin-left: -91px;
}




    /*  PRICING  */

    .h4_7 {
        margin-left: 7px;
        margin-top: 700px;
        position: relative;
    }

    .h1_7 {
        font-size: 40px;
        margin-top: 7px;
    }

    /*  PRICING  */

    .pricing_para {
        font-size: 22px;
        max-width: 518px;
        margin-left: 49px;
    }    




    /*  TESTIMONIALS  */

    .h4_8 {
        margin-left: -490px;
    }

    .h1_8 {
        font-size: 40px;
        width: 420px;
        margin-left: -630px;
    }

    .test_para {
        margin-left: -630px;
        margin-bottom: 350px;
        max-width: 420px;
    }

    .test__ratings {
        margin-left: -630px;
    }

    .h3_A {
        margin-left: -630px;
        margin-bottom: -0px;
    }

    .test_para2 {
        margin-left: -651px;
        max-width: 420px;
        margin-bottom: 7px;
        text-align: justify;
    }

    .test_img {
        margin-left: -685px;
        width: 490px;
        height: 310px;
        margin-top: -616px;
        margin-bottom: 210px;
    }

    .h3_B {
        margin-left: -548px;

    }

    .h3_C {
        margin-left: -529px;
    }

    .test_img2 {
        margin-left: -672px;
        margin-top: 35px;
    }

    .test_img3 {
        margin-left: -315px;
    } 

    .test_img4 {
        margin-left: 0px;
        margin-top: -210px;
        margin-bottom: 211px;
    }


    /*  START  */

.contact_ad {
    width: 112%;
    max-width: 1148px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 49px;
    margin-bottom: 140px;
    margin-left: -35px;
}   

.btn4 {
        margin-right: 14px;
        margin-top: -210px;
        margin-bottom: 118px;
        padding: 12px 21px;
        font-size: 14px;
    }

.btn5 {
        margin-right: 154px;
        margin-top: -160px;
        padding: 12px 17px;
        font-size: 14px;
    }



    /* FOOTER ↓ */

    footer {
        padding: 0px 70px;
        min-width: 1035px;
        margin-left: -70px;
        margin-top: 70px;
        margin-top: 140px;
    }

    .footer__columns {
        max-width: 665px;
        margin-left: 189px;
        margin-top: 7px;
        height: 91px;
    }

    .footer__column {
        height: 147px;

    }

    .footer__column--title {
        font-size: 14px;
        margin-top: -84px;
        margin-bottom: 84px;
        margin-left: -182px;
    }

    .footer__column--link {
        font-size: 12px;
        margin-top: -91px;
        margin-bottom: -49px;
        margin-left: -182px;
        height: 14px;

    }

    .footer__logo--text {
        margin-left: 35px; 
        margin-top: -357px; 
}

.footer__logo--img {
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 98px;
    margin-bottom: 49px;
    margin-left: -38px;
    position: relative;
}

.footer__logo--text {
    font-size: 18px;
    font-weight: 700;
    margin-top: -77px;
    margin-left: 7px;
    position: relative;
    color: white;
}

.footer__copyright {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    max-width: 840px;
    margin-top: -14px;
    position: relative;
    color: white;
    margin-left: -77px;
}

.footer__socials--img1 {
    position: relative;
    margin-top: -56px;
    margin-bottom: 7px;
    margin-right: 21px;
    margin-left: 685px;
}

.footer__socials--img2 {
    position: relative;
    margin-top: -77px;
    margin-bottom: 18px;
    margin-right: 21px;
    margin-left: 518px;
}

.footer__socials--img3 {
    position: relative;
    margin-top: -77px;
    margin-bottom: 18px;
    margin-right: 14px;
}    

}



@media(max-width: 570px)
 {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }

nav {
    display: flex;
    padding-top: 32px;

}

.nav__row {
    width: 100%;
    max-width: 840px;
}

.nav__logo {
    margin-right: 21px;
    margin-left: -7px;

}

.nav_link {
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    margin-right: -7px;

}

.nav_link:hover {
    color: #6415ff;
    cursor: pointer;
    text-decoration: underline;
}

.button {
    padding: 7px 14px;
    margin-left: 7px;
    margin-right: -7px;    
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 13px;
    font-weight: 700;
}

.button_menu {
    padding: 7px 14px;
    margin-left: 7px;
    margin-right: -7px;    
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    width: 84px;
}


/*  HIDE NAV LINKS  */

.button {
    visibility: hidden;
}

.btn_menu {
    display: block;
    margin-right: 0px;
    font-size: 28px;
}

.nav_links {
    display: none;
}

.nav_link {
    visibility: hidden;
}



/*  HEADER  */

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .h1 {
        font-size: 42px;
        text-align: center;
        margin-left: -357px;
        max-width: 490px;
    }

    .header_para {
        text-align: start;
        margin-left: -357px;
        max-width: 420px;
        font-size: 17px;
        text-align: center;
    }

    .button2 {
    padding: 16px 31px;
    background-color: #6415ff;
    color: white;
    border-radius: 23px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    margin-left: 9px;
}

.ebox {
    margin-top: 7px;
    margin-bottom: 42px;
    padding: 21px 154px;
    padding-left: 35px;
    border-radius: 28px;
    border-color: rgb(231, 231, 231);
    font-weight: 400;
    margin-left: -294px;
    border-style: solid; 
}

.h5 {
    text-align: start;
    margin-left: -266px;
    margin-top: 315px;
}


    .desktop_img {
        position: absolute;
        margin: 0 auto;
        margin-top: 280px;
        max-width: 84%;
        margin-right: 350px;
    }

    .brands_img {
        margin: 0 auto;
        margin-top: 0px;
        width: 77%;
        margin-left: -126px;
    }


    /*  FEATURES */
    #features {
        margin-top: 525px;
    }

    .container3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/1); 
    justify-content: space-between;   
}

.h4 {
    margin-right: -7px;
    margin-top: 140px;
}

.h1_2 {
    margin-right: 7px;
    font-size: 42px;
    text-align: center;
    }

    .icon1,
    .icon2 {
        margin-left: 12px;
        margin-bottom: 7px;
        margin-top: 14px;
    }

.icon1_mask {
    width: 49px;
    height: 49px;
    margin-left: 105px;
    margin-top: 105px;
}

.icon2_mask {
    width: 49px;
    height: 49px;
    margin-left: 105px;
    margin-top: 42px;
}
    
    .h2 {
        margin-top: 175px;
        margin-left: -42px;
        margin-right: 7px;
        font-size: 28px;
        text-align: center;
    }    


    .h2a {
        margin-top: 105px;
        margin-left: -42px;
        margin-right: 7px;
        font-size: 28px;
        text-align: center;
    }



    .features_para {
        margin-bottom: -140px;
        font-size: 20px;
        line-height: 3vh;
        max-width: 420px;
    }

    
    .features_para2 {
        margin-left: -63px;
        margin-right: -21px;
        font-size: 19px;
        max-width: 252px;
        line-height: 02.5vh;
        text-align: center ;
        color: #c7c7c7;
    }

    .features_para22 {
        margin-left: -63px;
        margin-right: -21px;
        margin-top: 98px;
        margin-bottom: 42px;
        font-size: 19px;
        max-width: 252px;
        line-height: 02.5vh;
        text-align: center ;
        color: #c7c7c7;
    }




    
    /*  QUALITY WORK  */

.h4_4 {
    margin-left: 7px;
    margin-top: -91px;
    position: absolute;
}

.h1_3 {
    font-size: 35px;
    width: 420px;
    margin-left: 7px;
    margin-top: -63px;
    position: absolute;
}

.quality_para {
    font-size: 16px;
    width: 420px;
    margin-left: 7px;
    margin-top: 49px;
    position: absolute;
    text-align: justify;
    line-height: 2.5vh;
}


.hero_img1 {
        margin-left: 162px;
        margin-top: 162px;
        width: 84%;
        max-width: 469px;
    }

.btn {
    margin-left: 12px;
    margin-top: 441px;

}

    /*  STEPS  */

.hero_img2 {
        margin-left: -56px;
        margin-top: 119px;
        width: 126%;   
    }

    .h4_5 {
        margin-left: -406px;
        margin-right: 14px;
        margin-bottom: 14px;
        margin-top: 10px;
    }

    .h1_5 {
        width: 100%;
        max-width: 427px;
        font-size: 39px;
        margin-left: -21px;
    }

    .one23 {
        margin-left: 77px;
        margin-top: 427px;
        margin-bottom: -105px;
    }

    .steps_para {
        max-width: 210px;
    }


    /*  VALUES  */

.h4_6 {
        margin-left: 840px;
        margin-top: -798px;
        margin-bottom: -0px;
        position: relative;
    }

.h1_6 {
        font-size: 40px;
        width: 399px;
        margin-left: 693px;
        margin-top: -819px;
        margin-bottom: 77px;
        position: relative;
    }

    .values_para {
        font-size: 18px;
        width: 490px;
        margin-left: 637px;
        margin-top: -945px;
        margin-bottom: 7px;
        text-align: justify;
    }

    .proto_img {
        margin-left: -70px;
        margin-top: 490px;
        width: 399px;

    }

    .h3A {
        margin-right: -56px;
        margin-left: 14px;
        margin-top: 0px;
    }

    .h3 {
        margin-top: 0px;

    }

    .h3_img {
        margin-left: 644px;
        margin-right: 28px;
        margin-top: -7px;
    }

    .h3A_img {
        margin-left: 21px;
        margin-top: -7px;
    }

    .values_para2 {
        margin-left: 95px;
        margin-top: 35px;
        font-size: 15.25px;
        width: 147px;
        text-align: justify;
        line-height: 2.5vh;        
    }



.values_para2A {
    width: 189px;
    max-width: calc(100%/2);
    line-height: 02.5vh;
    color: gray;
    margin-top: 35px;
    margin-bottom: 49px;
    margin-left: -89px;
    font-size: 16px;
    position: relative;
}





        /*  PRICING  */

    .pricing_para {
        font-size: 19px;
        max-width: 445px;
        margin-left: -7px;
    }

    .h4_7 {
        margin-left: 7px;
        margin-top: 777px;
        position: relative;
    }

    .h1_7 {
        font-size: 40px;
        margin-top: 7px;
    }

    .plan_img1 {
        width: 112%;
        max-width: 560px;
        margin-left: -35px;
        margin-top: -28px;
    }




    /*  TESTIMONIALS  */

    .h4_8 {
        margin-left: -609px;
        margin-top: 140px;
    }

    .h1_8 {
        font-size: 40px;
        width: 420px;
        margin-left: -742px;
    }

    .test_para {
        margin-left: -749px;
        margin-bottom: 350px;
        max-width: 420px;
        text-align: center;
    }

    .test__ratings {
        margin-left: -595px;
    }

    .h3_A {
        margin-left: -686px;
        margin-bottom: -0px;
    }

    .test_para2 {
        margin-left: -749px;
        max-width: 420px;
        margin-bottom: 7px;
        text-align: justify;
    }

    .test_img {
        margin-left: -773px;
        width: 476px;
        height: 310px;
        margin-top: -616px;
        margin-bottom: 210px;
    }

    .h3_B {
        margin-left: -644px;

    }

    .h3_C {
        margin-left: -625px;
    }

    .test_img2 {
        margin-left: -763px;
        margin-top: 35px;
    }

    .test_img3 {
        margin-left: -441px;
    } 

    .test_img4 {
        margin-left: 0px;
        margin-top: -210px;
        margin-bottom: 211px;
    }


    /*  START  */

.contact_ad {
    width: 120%;
    height: 126px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: -42px;
}   

.btn4 {
        margin-left: 294px;
        margin-top: -110px;
        margin-bottom: 118px;
        padding: 11px 18px;
        font-size: 14px;
        width: 140px;

    }

.btn5 {
        margin-right: 7px;
        margin-left: 294px;
        margin-top: -105px;
        padding: 10px 18px;
        font-size: 14px;
        width: 140px;
    }



    /* FOOTER ↓ */

    footer {
        padding: 0px 70px;
        min-width: 637px;
        margin-left: -70px;
        margin-top: 21px;
    }

    .footer__columns {
        max-width: 665px;
        margin-left: 140px;
        margin-top: 7px;
        height: 91px;
    }

    .footer__column {
        height: 147px;
    }

    .footer__column--title {
        font-size: 12px;
        margin-top: -84px;
        margin-bottom: 84px;
        margin-left: -140px;
        padding-bottom: 7px;
    }

    .footer__column--link {
        font-size: 11px;
        margin-top: -98px;
        margin-bottom: -49px;
        margin-left: -140px;
    }

    .footer__logo--text {
        margin-left: 35px; 
        margin-top: -357px; 
    }

.footer__logo--img {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 54px;
    margin-bottom: 49px;
    margin-left: -49px;
    position: relative;
    padding-bottom: 5px;
}

.footer__logo--text {
    font-size: 16px;
    font-weight: 700;
    margin-top: -77px;
    margin-left: -14px;
    position: relative;
    color: white;
}

.footer__copyright {
    font-size: 9px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    max-width: 840px;
    margin-top: -12px;
    position: relative;
    color: white;
    margin-left: -77px;
    margin-right: -7px;
}

.footer__socials--img1 {
    position: relative;
    margin-top: -49px;
    margin-bottom: 7px;
    margin-right: 14px;
    margin-left: 504px;
}

.footer__socials--img2 {
    position: relative;
    margin-top: -70px;
    margin-bottom: 18px;
    margin-right: 14px;
    margin-left: 364px;
}

.footer__socials--img3 {
    position: relative;
    margin-top: -70px;
    margin-bottom: 18px;
    margin-right: 14px;
}   

}

@media(max-width: 350px)
 {
.container {
        padding: 80px 0;
    }

.nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }

main {
        margin-bottom: 80px;
    }

nav {
    display: flex;
    padding-top: 7px;

}

.nav__row {
    width: 100%;
    max-width: 840px;
}

.nav__logo {
    margin-right: 21px;
    margin-left: -7px;

}

.nav_link {
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    margin-right: -7px;

}

.nav_link:hover {
    color: #6415ff;
    cursor: pointer;
    text-decoration: underline;
}

.btn_menu {
    display: block;
    margin-right: 0px;
    font-size: 28px;

}

.button {
    padding: 7px 14px;
    margin-left: 7px;
    margin-right: -7px;    
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 13px;
    font-weight: 700;
}

.button_menu {
    padding: 7px 14px;
    margin-left: 7px;
    margin-right: -7px;    
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    width: 84px;
}


/*  HIDE NAV LINKS  */

.button {
    visibility: hidden;
}

.btn_menu {
    display: block;
    margin-right: -7px;
    font-size: 28px;
}

.nav_links {
    display: none;
}

.nav_link {
    visibility: hidden;
}



/*  HEADER  */

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .h1 {
        font-size: 30px;
        text-align: center;
        margin-left: -406px;
        max-width: 364px;
    }

    .header_para {
        text-align: start;
        margin-left: -406px;
        max-width: 280px;
        font-size: 17px;
        text-align: center;
    }

    .button2 {
    padding: 14px 78px;
    background-color: #6415ff;
    color: white;
    border-radius: 23px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    margin-left: -98px;
    margin-top: 70px;
}

.ebox {
    margin-top: 7px;
    margin-bottom: 42px;
    padding: 14px 35px;
    padding-left: -7px;
    border-radius: 28px;
    border-color: rgb(231, 231, 231);
    font-weight: 400;
    margin-left: -322px;
    border-style: solid; 
}

.h5 {
    text-align: start;
    margin-left: -301px;
    margin-top: 287px;
}


    .desktop_img {
        position: absolute;
        margin: 0 auto;
        margin-top: 343px;
        max-width: 84%;
        margin-right: 399px;
    }

    .brands_img {
        margin: 0 auto;
        margin-top: 0px;
        width: 77%;
        margin-left: -168px;
    }


    /*  FEATURES */
    #features {
        margin-top: 525px;
    }

    .container3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/1); 
    justify-content: space-between;   
}

.h4 {
    margin-right: -7px;
    margin-top: 140px;
}

.h1_2 {
    margin-right: 0px;
    font-size: 49px;
    text-align: center;
    margin-left: 0px;
    }

    .icon1,
    .icon2 {
        margin-left: 12px;
        margin-bottom: 7px;
        margin-top: 14px;
    }

.icon1_mask {
    width: 49px;
    height: 49px;
    margin-left: 105px;
    margin-top: 105px;
}

.icon2_mask {
    width: 49px;
    height: 49px;
    margin-left: 105px;
    margin-top: 42px;
}
    
    .h2 {
        margin-top: 175px;
        margin-left: -119px;
        margin-right: 14px;
        font-size: 28px;
        text-align: center;
    }    


    .h2a {
        margin-top: 105px;
        margin-left: -119px;
        margin-right: 14px;
        font-size: 28px;
        text-align: center;
    }



    .features_para {
        margin-bottom: -140px;
        font-size: 20px;
        line-height: 3vh;
        max-width: 406px;
        margin-left: 0px;
        text-align: justify;
    }

    
    .features_para2 {
        margin-left: -140px;
        margin-right: -21px;
        font-size: 19px;
        max-width: 252px;
        line-height: 02.5vh;
        text-align: center ;
        color: #c7c7c7;
    }

    .features_para22 {
        margin-left: -140px;
        margin-right: -21px;
        margin-top: 98px;
        margin-bottom: 42px;
        font-size: 19px;
        max-width: 252px;
        line-height: 02.5vh;
        text-align: center ;
        color: #c7c7c7;
    }




    
    /*  QUALITY WORK  */

.h4_4 {
    margin-left: -28px;
    margin-top: -91px;
    position: absolute;
}

.h1_3 {
    font-size: 26px;
    width: 322px;
    margin-left: -28px;
    margin-top: -63px;
    position: absolute;
}

.quality_para {
    font-size: 17.5px;
    width: 284px;
    margin-left: -28px;
    margin-top: 28px;
    position: absolute;
    text-align: justify;
    line-height: 2.5vh;
}


.hero_img1 {
        margin-left: 357px;
        margin-top: 175px;
        width: 49%;
        max-width: 385px;
    }

.btn {
    margin-left: -21px;
    margin-top: 350px;
    font-size: 13px;
    padding: 7px 18px;

}

    /*  STEPS  */

.hero_img2 {
        margin-left: 42px;
        margin-top: 147px;
        width:77%;   
    }

    .h4_5 {
        margin-left: -518px;
        margin-right: 14px;
        margin-bottom: 14px;
        margin-top: 10px;

    }

    .h1_5 {
        width: 100%;
        max-width: 350px;
        font-size: 34px;
        margin-left: -7px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .one23 {
        margin-left: -35px;
        margin-top: 231px;
        margin-bottom: -105px;
    }

    .steps_para {
        max-width: 210px;
    }


    /*  VALUES  */

.h4_6 {
        margin-left: 840px;
        margin-top: -798px;
        margin-bottom: -0px;
        position: relative;
    }

.h1_6 {
        font-size: 40px;
        width: 399px;
        margin-left: 693px;
        margin-top: -819px;
        margin-bottom: 77px;
        position: relative;
    }

    .values_para {
        font-size: 18px;
        width: 490px;
        margin-left: 637px;
        margin-top: -945px;
        margin-bottom: 7px;
        text-align: justify;
    }

    .proto_img {
        margin-left: -70px;
        margin-top: 490px;
        width: 399px;

    }

    .h3A {
        margin-right: -56px;
        margin-left: 14px;
        margin-top: 0px;
    }

    .h3 {
        margin-top: 0px;

    }

    .h3_img {
        margin-left: 644px;
        margin-right: 28px;
        margin-top: -7px;
    }

    .h3A_img {
        margin-left: 21px;
        margin-top: -7px;
    }

    .values_para2 {
        margin-left: 95px;
        margin-top: 35px;
        font-size: 15.25px;
        width: 147px;
        text-align: justify;
        line-height: 2.5vh;        
    }



.values_para2A {
    width: 189px;
    max-width: calc(100%/2);
    line-height: 02.5vh;
    color: gray;
    margin-top: 35px;
    margin-bottom: 49px;
    margin-left: -89px;
    font-size: 16px;
    position: relative;
}


        /*  PRICING  */

    .pricing_para {
        font-size: 19px;
        max-width: 301px;
        margin-left: -53px;
    }

    .h4_7 {
        margin-left: 7px;
        margin-top: 777px;
        position: relative;
    }

    .h1_7 {
        font-size: 40px;
        margin-top: 7px;
    }

    .plan_img1 {
        width: 144%;
        max-width: 560px;
        margin-left: -49px;
        margin-top: -28px;
    }




    /*  TESTIMONIALS  */

    .h4_8 {
        margin-left: -609px;
        margin-top: 140px;
    }

    .h1_8 {
        font-size: 40px;
        width: 420px;
        margin-left: -742px;
    }

    .test_para {
        margin-left: -749px;
        margin-bottom: 350px;
        max-width: 420px;
        text-align: center;
    }

    .test__ratings {
        margin-left: -595px;
    }

    .h3_A {
        margin-left: -686px;
        margin-bottom: -0px;
    }

    .test_para2 {
        margin-left: -749px;
        max-width: 420px;
        margin-bottom: 7px;
        text-align: justify;
    }

    .test_img {
        margin-left: -773px;
        width: 476px;
        height: 310px;
        margin-top: -616px;
        margin-bottom: 210px;
    }

    .h3_B {
        margin-left: -644px;

    }

    .h3_C {
        margin-left: -625px;
    }

    .test_img2 {
        margin-left: -763px;
        margin-top: 35px;
    }

    .test_img3 {
        margin-left: -441px;
    } 

    .test_img4 {
        margin-left: 0px;
        margin-top: -210px;
        margin-bottom: 211px;
    }


    /*  START  */

.contact_ad {
    width: 120%;
    height: 126px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: -42px;
}   

.btn4 {
        margin-left: 294px;
        margin-top: -110px;
        margin-bottom: 118px;
        padding: 11px 18px;
        font-size: 14px;
        width: 140px;

    }

.btn5 {
        margin-right: 7px;
        margin-left: 294px;
        margin-top: -105px;
        padding: 10px 18px;
        font-size: 14px;
        width: 140px;
    }



    /* FOOTER ↓ */

    footer {
        padding: 0px 70px;
        min-width: 637px;
        margin-left: -70px;
        margin-top: 21px;
    }

    .footer__columns {
        max-width: 665px;
        margin-left: 140px;
        margin-top: 7px;
        height: 91px;
    }

    .footer__column {
        height: 147px;
    }

    .footer__column--title {
        font-size: 12px;
        margin-top: -84px;
        margin-bottom: 84px;
        margin-left: -140px;
        padding-bottom: 7px;
    }

    .footer__column--link {
        font-size: 11px;
        margin-top: -98px;
        margin-bottom: -49px;
        margin-left: -140px;
    }

    .footer__logo--text {
        margin-left: 35px; 
        margin-top: -357px; 
    }

.footer__logo--img {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 54px;
    margin-bottom: 49px;
    margin-left: -49px;
    position: relative;
    padding-bottom: 5px;
}

.footer__logo--text {
    font-size: 16px;
    font-weight: 700;
    margin-top: -77px;
    margin-left: -14px;
    position: relative;
    color: white;
}

.footer__copyright {
    font-size: 9px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    max-width: 840px;
    margin-top: -12px;
    position: relative;
    color: white;
    margin-left: -77px;
    margin-right: -7px;
}

.footer__socials--img1 {
    position: relative;
    margin-top: -49px;
    margin-bottom: 7px;
    margin-right: 14px;
    margin-left: 504px;
}

.footer__socials--img2 {
    position: relative;
    margin-top: -70px;
    margin-bottom: 18px;
    margin-right: 14px;
    margin-left: 364px;
}

.footer__socials--img3 {
    position: relative;
    margin-top: -70px;
    margin-bottom: 18px;
    margin-right: 14px;}
}    



