@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav__logo {
    display: flex;
    margin-left: 14px;

}

.nav_links {
    display: flex;
    justify-content: space-between;
}

.nav_link {
    padding: 0 14px;
    font-weight: 600;
}

.button {
    padding: 7px 21px;
    margin-left: 7px;
    background-color: #6415ff;
    color: white;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    width: 100%;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    margin-left: 203px;
}

.h1 {
    margin-bottom: 28px;
    font-size: 49px;

}

.h5 {
    margin-top: 7px;
    margin-bottom: 14px;
    margin-left: 7px;
}

.header_para {
    margin-bottom: 28px;

    font-size: 19px;
}


.button2 {
    padding: 14px 28px;
    background-color: #6415ff;
    color: white;
    border-radius: 21px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.ebox {

    margin-top: 7px;
    margin-bottom: 70px;
    padding: 21px 238px;
    padding-left: 28px;
    border-radius: 28px;
    border-color: rgb(231, 231, 231);
    font-weight: 400;
    margin-right: -156px;
    border-style: solid;    
    
}


.brands_img {
    max-width: 420px;
    margin-left: 7px;
}

.desktop_img {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 525px;
    margin-top: -77px;
    padding: 42px 1px;
}

/* 

FEATURES ↓

*/

#features {
    position: relative;
    margin-top: 490px;
}

#features .row {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.features_para {
    font-size: 19px;
    font-weight: 500px;
    max-width: 567px;
    text-align: center;
    color: gray;
    line-height: 04vh;
}

.features_para2 {
    font-size: 17px;
    font-weight: 500px;
    max-width: 238px;
    text-align: left;
    color: gray;
    line-height: 04vh;
    margin-top: 14px;
    padding-left: 21px;
    display: flex;
    flex-direction: row;
    margin-bottom: -70px;
}

.features_para22 {
    font-size: 17px;
    font-weight: 500px;
    max-width: 238px;
    text-align: left;
    color: gray;
    line-height: 04vh;
    margin-top: 14px;
    padding-left: 21px;
    display: flex;
    flex-direction: row;
    margin-top: -21px;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3); 
    justify-content: space-between;   
}

.wrapper {
    height: 210px;
    width: 385px;
    position: absolute;
}



#services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 133px;
    margin-top: 84px;
}

.icon1 {
    size: 42px;
    margin-left: 13px;
    margin-right: 7px;    
    margin-top: 16px;

}

.icon1_mask {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    outline: gray;
    box-shadow: 0 3px 4px rgba(126, 126, 126, 0.777);
    position: absolute;
    margin-left: -21px;
    margin-top: -14px;
}

.icon2 {
    size: 42px;
    margin-left: 13px;
    margin-right: 7px;    
    margin-top: 16px;

}

.icon2_mask {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    outline: gray;
    box-shadow: 0 3px 4px rgba(126, 126, 126, 0.777);
    position: absolute;
    margin-left: -21px;
    margin-top: 42px;

}


.h1_2 {
    margin-bottom: 21px;
    font-size: 49px;
    font-weight: 900;
    
}

.h2 {
    text-align: left;
    margin-left: 21px;
    margin-right: -42px;
    width: 238px;
}

.h2a {
    text-align: left;
    margin-left: 21px;
    margin-right: -42px;
    margin-bottom: -77px;
    width: 238px;
}


.h4 {
    color: #6415ff;

}




/* 

QUALITY WORK ↓

*/
#quality {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    height: 602px; 
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: end;
    margin-left: -14px;
}

#quality .container4 {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
}

#quality .row {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#quality .wrapper {
    width: 595px;
    margin-top: -7px;


}

.h4_4 {
    display: flex;

}

.h1_3 {
    font-size: 49px;
    font-weight: 800;
    width: 490px;
}

.quality_para {
    font-size: 19px;
    width: 497px;
}

.btn {
    padding: 9px 28px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #6415ff;
    border-radius: 28px;
    display: flex;
    align-items: start;
}


.hero_img1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 100%;
    margin-left: 35px;

}




/* 

STEPS ↓

*/

#steps {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

#steps .container5 {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto; 

}


#steps .row {
    display: flex;

}


.h1_5 {
    width: 1155px;
    font-size: 49px;
    font-weight: 800;
    display: flex;
    justify-content: end;
    align-items: end;

}

.h4_5 {
    width: 1246px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 7px;
}



.hero_img2 {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 42px;
    margin-left: -385px;
    width: 154%;   
    
}

.one23 {
    width: 294px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    position: relative;
    margin-top: 35px;
    margin-left: 665px;
}

.O1 {
    font-size: 35px;
    font-weight: 600;
    color: lightgray;
}

.reg {
    font-size: 21px;
    font-weight: 600;
    margin-top: -38px;
    margin-bottom: -7px;
    margin-left: 70px;
}

.steps_para {
    margin-top: px;
    margin-left: 70px;
    width: 294px;
    color: gray;
}

.O2 {
    margin-top: 7px;
    font-size: 35px;
    font-weight: 600;
    color: lightgray;
}

.download {
    font-size: 21px;
    font-weight: 600;
    margin-top: -38px;
    margin-bottom: 14px;
    margin-left: 70px;
}

.O3 {
    margin-top: 7px;
    font-size: 35px;
    font-weight: 600;
    color: lightgray;
}

.run {
    font-size: 21px;
    font-weight: 600;
    margin-top: -38px;
    margin-bottom: 14px;    
    margin-left: 70px;
}



/* 

VALUES ↓

*/

#values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: left;
    margin-left: -637px;
}

#values .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.h1_6 {
    font-size: 49px;
    font-weight: 800;
    width: 497px;
}


.values_para {
    width: 630px;
    font-size: 18px;
    font-weight: 500;
    width: 567px;
    color: gray;

}

.btn2 {
    padding: 9px 28px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #6415ff;
    border-radius: 28px;
    display: flex;
    align-items: start;
}

.proto_img {
    margin-top: 14px;
    margin-left: 448px;
    width: 595px;
}

.h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 14px;
    margin-top: 7px;

}

.h3_img {
    width: 35px;
    height: 35px;
    position: relative;
}

.h3A {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 14px;
    margin-top: 7px;

}

.h3A_img {
    width: 35px;
    height: 35px;
    margin-left: 56px;
    position: relative;
}

.values_para2 {
    width: 224px;
    max-width: calc(100%/2);
    line-height: 03vh;
    color: gray;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-left: -140px;
}

.values_para2A {
    width: 224px;
    max-width: calc(100%/2);
    line-height: 03vh;
    color: gray;
    margin-top: 49px;
    margin-bottom:49px;
    margin-left: -189px;
}

.wrapper2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}


/*

PRICING ↓

*/

#pricing .row {
    width: 100%;
    max-width: 1246;
    margin: 0 auto;
    text-align: center;
}

.pricing_para {
    font-size: 18px;
    color: gray;
}


.h1_7 {
    font-size: 49px;
    font-weight: 800;
    width: 100%;
}

.price {
    font-size: 49px;
}

.mon {
    color: lightgray;
}

.h4 {
    color: lightgray;
    font-weight: 600;
}

.btn3 {
    padding: 9px 49px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: #6415ff;
    border-radius: 28px;
}

.plan_img1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    
}


/* 

TESTIMONIALS ↓

*/


#testimonials {
    margin-left: 749px;

}

#testimonials .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 777px;
}

.test_img {
    width: 100%;
    max-width: 560px;
    margin-left: -623px;
    margin-top: -350px;
    margin-bottom: 28px;
    position: relative;

}

.h1_8 {
    font-size: 49px;
    font-weight: 800;
    width: 100%;
}

.test_para {
    font-size: 19px;
    color: gray;
    width: 574px;
    margin-top: 14px;
    margin-bottom: 28px;
    line-height: 04vh;
}

.test_para2 {
    max-width: 560px;
    font-size: 16px;
    color: gray;
    margin-top: -105px;
    margin-bottom: 28px;
    line-height: 03vh;
}

.test_ratings {
    color: gold;
    font-size: 15px;
    margin-top: 21px;
}

.h3_A {
    margin-top: 7px;
    margin-bottom: 14px;
}

.h3_B {
    margin-top: -98px;
    margin-bottom: 0px;
    margin-left: 112px;
}

.h3_C {
    margin-top: px;
    margin-bottom: 0px;
    margin-left: 115px;
}

.test_img2 {
    width: 84%;
    max-width: 105px;
    position: relative;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    overflow: hidden;
    outline: auto;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.777);
    outline-color: rgba(56, 56, 56, 0.777);
    outline-width: 1px;
    margin-bottom: 14px;
}

.test_img3 {
    width: 50%;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    outline: auto;
    outline-color: rgba(210, 210, 210, 0.777);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.777);
    margin-right: 14px;
    margin-left: 427px;
    margin-bottom: 210px;
    margin-top: -56px;
}

.test_img4 {
    width: 50%;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    outline: auto;
    outline-color: rgba(210, 210, 210, 0.777);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.777);
    margin-left: 14px;
    margin-bottom: 210px;
    margin-top: -56px;
}



/* 

START / CALL TO ACTION ↓

*/




#start .row {
    position: relative;
    overflow: hidden;

}

.contact_ad {
    width: 100%;
    max-width: 1148px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 49px;
    margin-bottom: 70px;
}   


.btn4 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 21px 35px;
    background-color: #ff6038d9;
    box-shadow: 0 7px 7px rgba(28, 28, 28, 0.777);
    color: white;
    border-radius: 35px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: -224px;
    margin-right: 483px;
    margin-bottom: 7px;
}

.btn5 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 21px 35px;
    background-color: #2cbb9acd;
    color: white;
    border-radius: 35px;
    box-shadow: 0 7px 7px rgba(28, 28, 28, 0.777);
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: -70px;
    margin-right: 294px;
    margin-bottom: 7px;
}

.btn4:hover {
    background-color: #ff6038;
    outline-style: outset;
    outline-color: #140300;
    outline-width: 1px;
    cursor: pointer;
}

.btn5:hover {
    background-color: #2cbb9a;
    outline-style: outset;
    outline-color: #00110e;
    outline-width: 1px;
    cursor: pointer;
}


/* 

FOOTER

*/

#footer {
    width: 100%;
    height: 420px;
}

.footer_bkg {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 70px;
    margin-left: -64px;
}

.footer__row {
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.footer__columns {
    width: calc(100%/5);
    max-width: 1204px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  
}

.footer_column {
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100%/5);
    height: 140px;

}

.footer_column--title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    font-weight: 800;
    padding-top: 28px;
    margin-right: 49px;
    margin-left: 49px;
    margin-top: 28px;
    margin-bottom: 28px;      
}

.footer_column--link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    max-width: 210px;
    margin-right: 14px;
    width: calc(100%/5);
}




/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}


    